.project-card img {
    height: 100%;
    width: 100%;
}
.sourceBtn{
    color: rgb(244, 244, 99);
}
.project-card{
    justify-content: center;
    display: grid;
    align-items: center;
    margin:2rem;
    margin-top: 2rem;
    border: 2px solid white;
}
.pro-details{
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}
.project-title{
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.pro-btns{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.projectText{
    margin: 0rem 1rem;
}